.o_lunch_kanban {
    display: flex;
    flex-direction: column; // display lunch widget above kanban renderer
    flex: 1 1 100%; // displayed to the right of the searchPanel
    min-width: 0; // prevent grouped kanban from horizontally overflowing
    height: 100%;
    .o_lunch_kanban_banner {
        flex: 0 0 auto;
    }
    .o_kanban_view {
        flex: 1 1 100%;
        &.o_kanban_grouped {
            min-height: auto; // override min-height: 100%
        }
    }

    .o_lunch_purple {
        color: $o-brand-odoo;
    }

    .o_lunch_widget {
        display: flex;
        border-bottom: 1px solid #CED4DA;
        background-color: white;
        min-height: 90px;
        max-height: 33vh;
        overflow-y: auto;

        .o_lunch_widget_info {
            padding: 5px 12px;
            margin: 4px 8px;
            width: 300px;
            flex: 1 1 auto;
            overflow-y: auto;

            .o_lunch_ordered {
                color: white;
                background-color: #F0D970;
                padding: 1px 3px;
                border-radius: .25em;
            }

            .o_lunch_confirmed {
                color: white;
                background-color: #00BA4E;
                padding: 1px 3px;
                border-radius: .25em;
            }

            .o_lunch_widget_title {
                font-weight: bold;
                font-size: initial;
            }

            .o_lunch_widget_order_button {
                display: block;
                width: 100%;
                margin-bottom: 4px;
                margin-top: 12px;
            }

            .o_lunch_open_wizard {
                cursor: pointer;
                &:hover {
                    font-weight: bolder;
                }
            }
        }
    }
}
