// FIXME may be useless (check initial code here: https://github.com/odoo/odoo/blob/51be5bbfb38db784cb3406877cc0e8806b1bf55a/addons/website_slides/static/src/less/website_slides.less#L1)
$nav-tabs-border-color: #dddddd !default;
$body-bg: #FFFFFF !default;
$MAX-Z-INDEX : 2147483647 !default;
$gray-50: #f4f4f4 !default;
$o-enterprise-radient-color: #62495B !default;

// Common to new slides pages
// **************************************************

.o_wslides_wrap {
    background-color: desaturate(map-get($grays, "200"), 80%);

    .o_wslides_home_nav {
        top: -40px;

        @include media-breakpoint-up(md) {
            font-size: 1rem;

            .o_wslides_nav_navbar_right {
                padding-left: $spacer;
                margin-left: auto;
                border-left: 1px solid $border-color;
            }
        }
    }

    .o_wslides_course_card,
    .o_wslides_lesson_card {
        border-width: 0 0 3px 0;
    }

    .o_wslides_js_slide_like_up,
    .o_wslides_js_slide_like_down {
        cursor: pointer;
        color: $link-color;
    }

    .o_wslides_js_lesson_quiz_question {
        li {
            font-size: 1.2rem;
        }

        .o_wslides_quiz_answer {

            &:hover {
                cursor: pointer;
            }

            label {
                font-size: 1.4rem;

                i.fa-circle {
                }

                input:checked + i.fa-circle {
                    color: $primary !important;
                    overflow: hidden;
                }
            }
        }
    }

    // tools
    // ****************************************

    .text_small_caps {
        font-variant: small-caps;
    }

    .o_wslides_entry_muted {
        opacity: 0.5;
    }

    .bg-brand {
        background-color: $o-enterprise-color;
    }

    .progress {
        overflow: visible;

        .progress-bar {
            background-color: $primary;
            position: relative;

            span {
                background-color: $primary;
                position: absolute;
                bottom: -20px;
                font-size: 10px;
                line-height: 10px;
                padding: 2px 3px 2px 4px;
                right: -1.4em;
                border-radius: 2px;
            }

            span:after {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #00A09D;
                border-width: 5px;
                margin-left: -5px;
            }
        }
    }
}


// New home page
// **************************************************

.o_wslides_home_main {
    .o_wprofile_next_rank_card {
        background-color: transparent !important;
    }

    .o_wslides_home_aside_loggedin {
        @include media-breakpoint-up(lg) {
            background: none;
            border: none;
        }
    }
}

// New course page
// **************************************************

.o_wslides_course_nav {
    margin: auto;
    background: linear-gradient(150deg, #875A7B 20%, #62495B 80%) !important;
    opacity: 0.95;

    a {
        color: #FFFFFF;
    }

    small a {
        color: #000000;
    }

    nav {
        .breadcrumb-item::before {
            font-weight: bold;
            color: #FFFFFF;
            opacity: 0.8;
        }
        .breadcrumb-item {
            a {
                font-weight: bold;
                color: #FFFFFF;
                opacity: 0.8;
                transition: opacity linear .3s;
            }
            &.active {
                a {
                    opacity: 1.0;
                }
            }
        }
        ol {
            background-color: transparent;
        }
    }
}

.o_wslides_course_header {
    margin: auto;
    background: linear-gradient(150deg, #875A7B 20%, #62495B 80%) !important;
    border-bottom: 48px solid #66445e;

    .o_wslides_course_header_container {
        position: relative;
        top: 48px;
        padding-top: 0px;

        .o_wslides_course_header_aside {
            max-width: 286px;
            img {
                width: 100%;
                max-width: 256px;
            }
        }

        .o_wslides_course_header_content {
            font-size: 16px;
            color: #FFFFFF;

            .o_wslides_course_header_nav {
                ul.o_wslides_nav_tabs {
                    border-bottom: 0px;
                    li.nav-item {
                        margin-bottom: 0px;
                    }
                    a.nav-link {
                        color: white;
                        border-radius: 0px;
                        height: 48px;
                        font-weight: bold;
                        padding-top: 12px;
                        text-align: center;
                        width: 120px;
                        &:hover {
                            border: 0px;
                            border-radius: 0px;
                            background-color: #875A7B;
                        }
                        &.active {
                            color: #212529;
                            background-color: #f2f2f2;
                            border: 0px;
                        }
                    }
                }
            }
        }
    }
}

.o_wslides_course_main {
    .o_wslides_course_content_aside {
        max-width: 286px;
        .bg-white {
            max-width: 256px;
            background-color: white;
            padding-bottom: 8px;
             > div.row {
                padding-left: 15px;
                padding-right: 15px;
             }
        }
    }
}

// Slides list reordering widget
.o_wslides_slides_list {
    .o_wslides_slides_list_slide {
        &.o_not_editable {
            height: 0px;
        }

        &:nth-child(odd) {
            background-color: $gray-50;
        }

        &:nth-child(even) {
            background-color: $gray-100;
        }

        .o_wslides_slides_list_slide_controls {
            i:hover {
                color: $primary !important;
                cursor: pointer;
            }
        }
    }
}


// New lesson page
// **************************************************

.o_wslides_lesson_header {
    background: linear-gradient(150deg, $o-enterprise-color 20%, $o-enterprise-radient-color 80%);
    margin: auto;

    .o_wslides_lesson_header_container {
        a:hover {
            text-decoration: none;
        }

        .fa-trophy {
            font-size: 2em;
        }
    }
}

.o_wslides_lesson_main {
    .o_wslides_lesson_aside {
        .o_wslides_lesson_aside_list,
        .o_wslides_lesson_aside_doc {
            border: 0;
            border-bottom: 3px solid $border-color;
            position: relative;
            top: -50px;

            .nav-tabs .nav-link {
                border-top: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }

        .o_wslides_lesson_aside_list {
            .o_wslides_lesson_aside_list_link {
                text-decoration: none;

                &.active {
                    background-color: $gray-200;
                }
            }
        }
    }

    .o_wslides_lesson_content {
        .o_wslides_lesson_nav {
            .nav-link {
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid $border-color;
                color: $gray-600;

                &.active {
                    border-bottom: 1px solid $success;
                    color: $gray-800;
                }
            }
        }
    }
}

// Old brol to clean someday
// **************************************************

.oe_slides_panel_footer .fa, .oe_slide_js_embed_option_link{
    color : theme-color('primary');
    cursor: pointer;
}

.oe_slide_embed_option {
    position: absolute;
    padding: 30px 30px 30px 30px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: $body-bg;
    opacity: 1;
    display:none;
    overflow-y: auto !important;
}

.oe_slides_apart_small {
    height: 60px;
    width: 90px;
    object-fit: cover;
    object-position: top;
}

.oe_slides_statistics_title {
    border-bottom: 1px solid $nav-tabs-border-color;
    padding-bottom: 5px;
}
.oe_slides_transcript {
    overflow-y: auto;
    max-height: 500px;
}

// Thumbnails
.oe_slides_ellipsis {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

.o_slide_preview {
    max-height: 160px;
    overflow: hidden;
}

// Suggested slides grid
.oe_slides_suggestion_caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(10, 10, 10, 0.75);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.oe_slides_suggestion_media {
    margin-top: 10px;
    position: relative;
}
.oe_slides_suggestion_media img {
    height: 33%;
    width: 100%;
    overflow: hidden;
}

// PDF Viewer Loader
.oe_slides_loader{
    position: relative;
    width: 100%; /* for IE 6 */
}
.oe_slides_loader h4{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 35%;

    color: white;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

// Slide display
div.embed-responsive {
    iframe.o_wslides_iframe_viewer {
        position: relative;
    }
}

// PDF Viewer Share bar
.oe_slides_share_bar{
    padding: 10px 0;
}

.oe_slides_panel_footer #page_number {
    width: 45px;
}

.oe_show_footer {
    z-index: $MAX-Z-INDEX; // Looks terrible but seems necessary due to fullscreen & canvas in PDFSlidesViewer
}


// Upload Modal
.o_wslides_select_type {
    cursor: pointer;
}